<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460022449022-fghhq8ush0guob0ggeu3ptja4fj0ihlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460022449022-fghhq8ush0guob0ggeu3ptja4fj0ihlj</string>
	<key>API_KEY</key>
	<string>AIzaSyBuyKvsipOl0IZIJWfjQGn5TXntctMfDVE</string>
	<key>GCM_SENDER_ID</key>
	<string>460022449022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixamtech.eFood</string>
	<key>PROJECT_ID</key>
	<string>carryvibe-efood</string>
	<key>STORAGE_BUCKET</key>
	<string>carryvibe-efood.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460022449022:ios:df655f363bc865c183692f</string>
</dict>
</plist>